<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATH" value="logs"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %green([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-DAILY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/Log_%d{dd-MM-yyyy}.log</fileNamePattern>
            <maxHistory>40</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <springProfile name="local">
        <root level="info">
            <appender-ref ref="STDOUT"/>
        </root>

        <logger name="com.future.function" additivity="false" level="debug">
            <appender-ref ref="STDOUT"/>
        </logger>
    </springProfile>

    <springProfile name="no-mock">
        <root level="info">
            <appender-ref ref="FILE-DAILY"/>
        </root>

        <logger name="com.future.function" additivity="false" level="warn">
            <appender-ref ref="FILE-DAILY"/>
        </logger>
    </springProfile>

</configuration>
